
body{
  background-color: whitesmoke;
    padding: 20px;
    margin-top: 2%;
    margin-left: auto;
        box-sizing: border-box;
    
        margin-left:-5px;
        margin-right:-5px;
        float: left;
}
.nav a{
        display :flex: ;
        color: black;
        
        display: inline;
        font-size: 20px;
        width: 100px;
        height: 100px;
        padding: 50px;
        text-decoration: none;
         
         }
#button1{
  float:right ;
        color:white;
        background-color: fuchsia;

        
}
.main{
display: inline;        

}  
    #button2 {
        background-color: darkmagenta; /* Set the background color to dark magenta */
        color: white; /* Set the text color to white for better visibility */
        padding: 10px 20px; /* Add padding for better button appearance */
        border: radius 20px; ;
        cursor: pointer;
      }
  
      #button2:hover {
        background-color: darkorchid; /* Change the background color on hover if desired */
      }
      };
      
      
}